
:root {
  --primary: #0d6efd;
  --secondary: #FFD33C;
  --light: #F3F3F3;
  --dark: #212121;
  /* F3F3F3 */
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
  font-size: inherit;
  margin-left: 0;
}

.btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: .5s;
}

.btn-primary {
  color: #FFFFFF;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 0;
  border-radius: 0;
  z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-left: 30px;
  padding: 30px 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark);
  outline: none;
  transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link::before {
      position: absolute;
      content: "";
      width: 0;
      height: 7px;
      top: -4px;
      left: 50%;
      background: var(--primary);
      transition: .5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
      width: 100%;
      left: 0;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
      width: 100%;
      height: 1px;
      top: -1px;
      left: 0;
  }
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link  {
      margin-left: 0;
      padding: 10px 0;
  }
}

.hero-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/Images/hero1.jpg) top right no-repeat;
  background-size: cover;
}

.btn-play {
  position: relative;
  display: block;
  box-sizing: content-box;
  width: 16px;
  height: 26px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 18px 20px 20px 28px;
  background: #FFFFFF;
}

.btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 100%;
  transition: all 200ms;
}

.btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  left: -1px;
  border-left: 16px solid var(--primary);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
  0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
  }

  100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
      opacity: 0;
  }
}

#videoModal .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

#videoModal .modal-body {
  position: relative;
  padding: 0px;
}

#videoModal .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #FFFFFF;
  background: #000000;
  opacity: 1;
}

.service-item a i {
  position: relative;
  padding-left: 20px;
  transition: .3s;
}

.service-item a:hover i {
  padding-left: 50px;
}

.service-item a i::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  top: 50%;
  left: 10px;
  margin-top: -1px;
  background: var(--primary);
  transition: .3s;
}

.service-item a:hover i::after {
  width: 50px;
}

.product-item {
  padding: 30px;
}

.product-item .btn-action {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0;
  opacity: 0;
  transition: .5s;
}

.product-item:hover .btn-action {
  bottom: -20px;
  opacity: 1;
}

.product-carousel .owl-nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next{
  position: relative;
  margin: 0 5px;
  width: 55px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: var(--primary);
  font-size: 22px;
  transition: .5s;
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}

.bg-offer {
  /* background: url(../img/offer.jpg) top right no-repeat; */
  background-size: cover;
}

.price-carousel::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: var(--primary);
  border-radius: 8px 8px 50% 50%;
  z-index: -1;
}

.price-carousel .owl-nav {
  margin-top: 35px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next{
  position: relative;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: #FFFFFF;
  font-size: 22px;
  border-radius: 45px;
  transition: .5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}

.team-carousel .owl-nav {
  position: absolute;
  width: 50px;
  height: 160px;
  top: calc(50% - 80px);
  right: 0;
  z-index: 1;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: var(--primary);
  font-size: 22px;
  transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}

.team-item img {
  transition: .5s;
}

.team-item:hover img {
  transform: scale(1.2);
}

.team-item .team-overlay {
  position: absolute;
  top: 45px;
  right: 45px;
  bottom: 45px;
  left: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(122, 183, 48, .8);
  transition: .5s;
  opacity: 0;
}

.team-item:hover .team-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}

.bg-testimonial {
  background: url(./Images//payment.jpg) top left no-repeat;
  background-size: cover;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 46px;
  top: calc(50% - 23px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: var(--primary);
  font-size: 22px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}

.testimonial-carousel .owl-item img {
  width: 100px;
  height: 100px;
}

@media (min-width: 576px) {
  .blog-item .row {
      height: 300px;
  }
}

.blog-item a i {
  position: relative;
  padding-left: 20px;
  transition: .3s;
}

.blog-item a:hover i {
  padding-left: 50px;
}

.blog-item a i::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  top: 50%;
  left: 10px;
  margin-top: -1px;
  background: var(--primary);
  transition: .3s;
}

.blog-item a:hover i::after {
  width: 50px;
}


.card-blog {
  display: block;
  margin: 0 auto;
  max-width: 280px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(100, 95, 136, 0.16);
  overflow: hidden;
}

.card-blog .header {
  background-color: #F6F5FC;
}

.card-blog .header .post-thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-blog .header .post-thumb img {
  width: auto;
  height: 100%;
}

.card-blog .body {
  padding: 20px;
}

.card-blog .post-title a {
  color: #645F88;
  text-decoration: none;
  transition: color .2s ease;
}

.card-blog .post-title a:hover,
.card-blog .post-title a:focus {
  color: #5641df;
  text-decoration: none;
}

.card-blog .post-date {
  font-size: 13px;
}

.text_dec{
  text-decoration: none;
}

.error{
  color: rgb(233, 72, 72);
  font-size: small;
  margin-top: 2px;
  margin-left: 10px;
}

.add_btn{
    overflow: visible;
    position: relative;
    /* float: right; */
    border: 0;
    padding: 0 8px;
    cursor: pointer;
    height: 50px;
    /* width: 110px; */
    color: #fff;
    background:  var(--primary);
    border-radius: 50%;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.span_btn{
  font-size:xx-large;
}

.pr{
  padding-right: 50px;
}


/*adminpanel css*/


.revenue__box, .order__box, .products__box, .user__box{
  padding: 20px;
  border-radius: 5px;
}

.revenue__box{
  background: #fce6d9;
}

.order__box{
  background: #ceebe9;
}

.products__box{
  background: #e2f2b2;
}

.user__box{
  background: #f9e196;
}

.revenue__box h5, .order__box h5, .products__box h5, .user__box h5{
  font-size: 1.1rem;
  font-weight: 500;
  color: #252525;
  margin-bottom: 20px;
}

.revenue__box span, .order__box span, .products__box span, .user__box span{
  color: #252525;
  font-weight: 600;
  font-size: 2rem;
}

.area_des{
  display: inline-block;
  background: #0d6dfd65;
  padding: 5px 15px;
  border-radius: 20px;
  
}


/*edit profile */

/*  */

/* body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
} */
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.mrgin{
  margin: 5rem 6rem ;
  min-height: 25rem;
}

.mrgin .table th{
  padding: 15px;
}

.mrgin .table td{
  padding: 15px;
}

/* rating */

.rating{
  display : flex;
}

.rating input{
  position : absolute;
  left     : -100vw;
}

.rating label{
  width      : 48px;
  height     : 48px;
  padding    : 48px 0 0;
  overflow   : hidden;
  background : url('./Components/Assets/stars.svg') no-repeat top left;
}

.rating:not(:hover) input:indeterminate + label,
.rating:not(:hover) input:checked ~ input + label,
.rating input:hover ~ input + label{
  background-position : -48px 0;
}

.rating:not(:hover) input:focus-visible + label{
  background-position : -96px 0;
}

.err{
  color: red;
}